@import "../vendors/bs5/bootstrap";
@import "../vendors/swiper";
@import "../vendors/aos";
@import "../css/partials/base";
@import "../css/partials/fonts";
@import "../css/partials/footer";
@import "../css/partials/learnMore";
@import "../css/partials/learnMore";

// media queries
@import "../css/partials/mediaqueries";

//styling of header section

.comp_logo {
  height: calc(3rem + 1.5vw);
  fill: $color_white;
}

.apply_btn {
  font-size: calc(0.8rem + 0.2vw);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  border: 0;
  margin-right: 1rem;
  text-transform: capitalize;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .header_alert {
    background-color: $color_white;

    h6 {
      margin-right: 1rem;
    }

    .d_flex-center {
      justify-content: center;
    }

    .alert_btn-wrapper {
      width: fit-content;
      background-color: $color_white;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 100%;
      display: flex;
      align-items: center;
      padding-right: 1rem;

      .btn_yellow {
        display: none;
      }
    }
  }

  .alert-warning {
    justify-content: space-between;
    padding: 1rem 0;

    .theme_btn {
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 2rem;
    }
  }

  .header_close {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.75rem;
    text-align: center;
    border-radius: 50%;
    border: 1px solid lighten($color: $color_black, $amount: 50%);
  }

  .navbar {
    .collapse {
      justify-content: space-between;
    }
  }
}

//styling of hero section

.hero {
  .hero_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }
}

.hero_list {
  gap: 1rem;
}

.hero_list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color_white;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(2.3rem + 0.5vw);
    height: calc(2.3rem + 0.5vw);
    margin-right: 1rem;
    color: $color_black;
    background-color: white;
    border-radius: 50%;
    font-size: calc(1rem + 0.5vw);
    box-shadow: 6px 6px 1px black;
    transition: all 0.3s linear;

    &:hover {
      transform: translate(4px, 4px);
      box-shadow: 0 0 0 transparent;
    }
  }

  h4 {
    font-size: calc(1.2rem + 0.25vw);

    small {
      font-size: 70%;
      display: block;
      margin-top: 0.5rem;
    }
  }
}

.hero {
  picture {
    display: block;
    aspect-ratio: 4/2.9;
    position: relative;

    .hero_img {
      position: absolute;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        border: 4px solid $color_white;
        border-radius: 50%;
      }

      &::before {
        content: attr(data-content);
        position: absolute;
        bottom: -4rem;
        left: 0;
        color: $black;
        width: fit-content;
        font-size: 0.8rem;
        white-space: nowrap;
        background-color: $color_white;
        padding: 0.5rem 1rem;
        border: 2px solid $color_black;
        text-transform: capitalize;
        border-radius: 2.5rem;
        z-index: 2;
        height: fit-content;
        animation: moveY 3s infinite;
      }
    }

    @keyframes moveY {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(10%);
      }

      100% {
        transform: translateY(0);
      }
    }

    .svgA {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
      fill: $color_white;
    }

    .svgB {
      position: absolute;
      width: 3rem;
      height: 3rem;
      top: 0;
      right: 0;
    }

    .imgA {
      position: absolute;
      top: 2.5rem;
      left: 9rem;

      img {
        width: 7.5rem;
        height: 7.5rem;
        object-fit: cover;
      }

      &::before {
        display: none;
      }
    }

    .imgB {
      position: absolute;
      top: 0;
      left: 18.5rem;

      img {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
      }

      &::before {
        display: none;
      }
    }

    .imgC {
      position: absolute;

      top: 2rem;
      right: 5rem;

      img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
      }

      &::before {
        display: none;
      }
    }

    .imgD {
      position: absolute;
      top: 14rem;
      left: 10rem;

      img {
        width: 4.5rem;
        height: 4.5rem;
        object-fit: cover;
      }

      &::before {
        left: -6rem;
        top: -2.5rem;
      }
    }

    .imgE {
      position: absolute;
      top: 10rem;
      left: 16rem;

      img {
        width: 6.5rem;
        height: 6.5rem;
        object-fit: cover;
      }

      &::before {
        display: none;
      }
    }

    .imgF {
      position: absolute;
      top: 9rem;
      left: 24rem;

      img {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
      }

      &::before {
        left: 6.5rem;
        top: 1.5rem;
      }
    }

    .imgG {
      position: absolute;
      top: 20rem;
      left: 13rem;

      img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
      }

      &::before {
        top: 0;
        left: -7rem;
      }
    }

    .imgI {
      position: absolute;
      top: 15rem;
      left: 30rem;

      img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
      }

      &::before {
        display: none;
      }
    }

    .imgH {
      position: absolute;
      top: 17.5rem;
      left: 20rem;

      img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
      }

      &::before {
        top: 6rem;
        left: 9rem;
      }
    }
  }

  .btn_wrapper {
    gap: 2rem;
    margin-top: 3rem;
  }
}

//styling of info_section
.info_sec {
  // background-color: #8adbe6;

  .info_bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 102%;
    // z-index: -1;
    object-fit: cover;
  }
}

.info_inner {
  article {
    width: 25%;
    padding: 2rem 0.75rem;

    .swiper_btn-sect {
      position: relative;

      .info_articl-btn {
        color: $color_white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        text-decoration: none;
        // padding: .5rem;
        white-space: nowrap;
        margin-bottom: 2rem;

        i {
          margin-left: 0.5rem;
        }
      }
    }

    // height: 5rem;

    .swiper_btn-wrapper {
      position: relative;
      width: 9rem;
      height: 4rem;
      gap: 2rem;
      display: flex;

      .swiper-button-next,
      .swiper-button-prev {
        color: $color_black;
        opacity: 1;
        width: 3rem;
        height: 3rem;

        span {
          width: 100%;
          height: 100%;
          line-height: 3rem;
          text-align: center;
          background-color: $color_white;
          border: 1px solid $color_black;
          border-radius: 50%;
          transition: all 0.3s linear;
        }

        &:after {
          display: none;
        }
      }

      .swiper-button-next {
        &:hover {
          span {
            color: $color_white;
            background-color: $color_primary;
            box-shadow: -0.25rem 0.25rem 1px $color_black;
          }
        }
      }

      .swiper-button-prev {
        &:hover {
          span {
            background-color: $color_primary;
            box-shadow: 0.25rem 0.25rem 1px $color_black;
          }
        }
      }

      // .swiper-button-prev {
      // }
    }
  }

  aside {
    width: 75%;
    padding: 1rem 0 1rem 1rem;
  }

  .swiper-slide {
    // aspect-ratio: 3/2.97;
    border: 2px solid $black;
    border-radius: 0.5rem;
    overflow: hidden;

    img {
      width: 100%;
      // height: 100%;
      object-fit: cover;
    }
  }
}

//styling of services

.services {
  .sect_heading {
    padding-left: 1rem;

    small {
      margin-top: 1rem;
      font-size: 50%;
    }
  }

  .tab-controls {
    .scroll-left,
    .scroll-right {
      display: none !important;
      padding: 1.5rem 1.5rem;
      cursor: pointer;
      border-radius: 0;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      z-index: 1;
      font-size: 0.75rem;
      color: $blue_dark;
      top: .4rem;
      border: 0;
    }
  }

  .nav-tabs {
    justify-content: center;
    border-color: transparent;
    gap: 1rem;

    .nav-link {
      padding: 0.5rem 1.5rem;
      border: 2px solid $color_black;
      transition: all 0.3s linear;
      border-radius: 0.75rem;
      margin-bottom: 2rem;

      &:hover {
        background-color: $color_theme;
        color: $color_white;
        border-top-color: transparent;
        border-right-color: transparent;
      }
    }

    .nav-link:hover {
      box-shadow: -0.25rem -0.25rem 1 $color_black !important;
    }

    .nav-link.active {
      background-color: $blue_dark;
      color: $color_white;
      border-radius: 0.5rem;

      &:hover {
        border-right-color: $color_black;
        border-bottom-color: $color_black;
      }
    }
  }

  .tab-content {
    border: 2px solid $color_black;
    padding: 1rem;
    border-radius: 1rem;
  }

  /* For mobile devices */
  @media (max-width: 786px) {
    .tab-controls {
      display: flex;
      align-items: center;
      position: relative;
      overflow-x: hidden;
      padding: 1rem 0;
    }

    .scrollable-tabs {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      white-space: nowrap;
      scroll-behavior: smooth;
      width: calc(100% - 80px);
      /* Adjusted to account for buttons */
      margin: 0;
      padding: 0;
    }

    .scrollable-tabs::-webkit-scrollbar {
      display: flex;
      /* Hide scrollbar for a cleaner look */
    }

    .scroll-left {
      position: absolute;
      left: -1.25rem;
      background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 68%, rgba(255,255,255,0.006039915966386533) 100%);
    }

    .scroll-right {
      position: absolute;
      right: -1.25rem;
      
      background: rgb(255, 255, 255);
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 1) 68%,
        rgba(255, 255, 255, 0.006039915966386533) 100%
      );
    }
  }

  .service_sub-heading {
    margin-bottom: 2rem;
    font-size: calc(0.8rem + 0.2vw);
    font-weight: bold;
    color: $color_theme;
    text-transform: capitalize;
  }

  .services_list {
    .services_list-item {
      position: relative;
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: 1.5rem;
      text-decoration: none;
      color: $color_black;
      background-color: lighten($color: $black, $amount: 80%);
      text-transform: capitalize;
      font-size: calc(0.8rem + 0.1vw);
      border: 1px solid $color_black;
      margin-bottom: 0.75rem;
    }

    .active {
      .services_list-item {
        background-color: lighten($color: $blue_dark, $amount: 50%);
      }
    }

    span {
      position: relative;
      display: inline-block;
      padding: 0.35rem 0.75rem;
      margin-left: 1rem;
      background-color: lighten($color: $blue_dark, $amount: 60%);
      border-radius: 2rem;
      font-size: calc(0.7rem + 0.2vw);

      img {
        position: absolute;
        top: 50%;
        left: -0.8rem;
        transform: translateY(-50%);
        height: 1.1rem;
      }
    }
  }

  .no_section {
    background-color: lighten($color: $color_black, $amount: 70%);
    // padding: 1rem;
    border-radius: 1.5rem;
    padding: 1.5rem;

    margin-bottom: 2.5rem;

    &:after {
      content: attr(data-content);
      position: absolute;
      width: fit-content;
      padding: 0.5rem 2rem;
      text-transform: capitalize;
      font-size: calc(0.75rem + 0.1vw);
      background-color: $color_white;
      border-radius: 2rem;
      bottom: 0;
      right: 0;
      transform: translate(0.75rem, 50%);
    }

    .no_sect-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    ul {
      gap: 2.5rem;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    p {
      // font-weight: 400;
      white-space: nowrap;
      font-size: calc(0.7rem + 0.25vw);
      text-transform: capitalize;
    }

    strong {
      display: block;
      font-weight: 600;
      font-size: calc(1.25rem + 0.25vw);
      color: $color_theme;
      margin-bottom: 0.3rem;
    }
  }

  .row {
    .col_left {
      padding: 0;

      .tab_inner {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }

  .comment_sect {
    .swiper-slide {
      margin-bottom: 1rem;

      strong {
        display: block;
        margin-top: 1rem;
        text-transform: capitalize;
      }
    }
  }

  .col_right {
    $item-heightA: 2rem;
    overflow: hidden;

    .col_right-heading {
      padding-bottom: 5rem;
    }
    .slider-wrap {
      position: absolute;
      top: 2.5rem;
      left: 0;
      transform: translateX(0%);
      width: fit-content;
      height: $item-heightA;
      // border: 1px solid blue;
      h2{
        position: absolute;
        top: 0;
        left: 0;
      }
      $width_4rem: 7rem;

      .slider-list {
        display: flex;
        min-width: calc(#{$width_4rem} * #{$itemn-quantity});
        position: relative;
      }

      .image-item {
        // background-color: green;
        width: $width_4rem;
        height: 3rem;
        position: absolute;
        display: flex;
        gap: 1rem;
        align-items: center;
        left: 100%;
        // animation: moveItems $animation-duration linear infinite;
        animation-delay: calc(
          (#{$animation-duration} / #{$itemn-quantity}) *
            (var(--item-position) - 1)
        );

        img {
          width: auto;
          height: 3rem;
          object-fit: cover;
        }
      }

      &:hover .image-item {
        animation-play-state: paused;
        animation-play-state: paused;
      }
    }

    @keyframes moveItems {
      0% {
        left: 100%;
      }
      100% {
        left: calc(#{$item-width} * -1);
      }
    }
    //styling of our_clients section

    .profectionals_sect {
      .profectionals_card {
        padding: 1rem;
        width: 50%;

        &:hover {
          figure {
            transform: translateY(-0.75rem);
            box-shadow: 0.25rem 0.25rem 1px $color_black;
          }
        }

        figure {
          border-radius: 1.5rem;
          transition: all 0.3s linear;
          border: 2px solid $color_black;
          aspect-ratio: 3/3;

          img {
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        figcaption {
          padding: 1rem;

          h6 {
            margin-bottom: 0.5rem;
          }

          .rating {
            gap: 1.5rem;
            margin-bottom: 0.5rem;

            p {
              font-size: calc(0.8rem + 0.2vw);
            }

            ul {
              li {
                i {
                  color: orange; // Change this to your default color
                }

                &:nth-last-child(1) {
                  i {
                    color: $color_black;
                  }
                }
              }

              gap: 0.5rem;

              i {
                font-size: calc(0.5rem + 0.2vw);
                color: $color_black;
              }
            }

            span {
              color: lighten($color: $color_black, $amount: 40%);
            }
          }

          p {
            margin-bottom: 0.5rem;

            i {
              margin-right: 0.5rem;
              color: lighten($color: $color_black, $amount: 40%);
            }
          }

          .btn_wrapper {
            flex-wrap: nowrap;
            gap: 1rem;
            margin-top: 1.5rem;

            .theme_btn {
              font-size: calc(0.7rem + 0.2vw);
              border: 2px solid $color_black;
              padding: 0.75rem 0.65rem;
            }
          }
        }
      }
    }

    .explore_courses{
      display: block;
      text-align: center;
      padding: 1.25rem;
      margin: 0 auto;
    }
  }
}

//styling of career_sect

.comunity_sect {
  .sect_heading {
    margin-bottom: 1.3rem;
  }

  .comunity_img-sect {
    aspect-ratio: 5/3.1;
    position: relative;
    overflow: hidden;

    .img_top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .img_bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin-bottom: 0;
      transform: translateY(2rem);
    }

    h2 {
      position: absolute;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      color: $black;
      z-index: 1;

      strong {
        span {
          color: $pink;
        }
      }

      a {
        text-decoration: none;
        display: inline-block;
        color: $blue;
        font-size: 50%;
        font-weight: normal;
      }
    }
  }
}

.bg_blue {
  background-color: lighten($color: $color_theme, $amount: 30%) !important;
}

//styling of comments section
.comments_list {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.comment_item {
  position: relative;
  border-radius: 1.5rem;
  // overflow: hidden;

  flex: 1;
  transition: all 0.3s linear;
  height: 100%;
  // box-shadow: .5rem .5rem 1px $black;

  &:before {
    content: attr(data-content);
    text-transform: capitalize;
    font-weight: 500;
    font-size: calc(1rem + 0.25vw);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: $color_white;
    z-index: 2;
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 73%
    );
    z-index: -1;
    border-radius: 1.5rem;
    box-shadow: 0.25rem 0.25rem 1px $color_white;
  }

  .comment_video {
    position: absolute;
    right: 1rem;
    top: 1rem;

    .click_btn {
      width: 3.7rem;
      height: 3.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      // line-height: 2rem;
      // text-align: center;
      border-radius: 50%;
      box-shadow: 0.15rem 0.15rem 1px $color_black;
      z-index: 3;
      transition: all 0.3s linear;
      overflow: hidden;
      i {
        font-size: 1.5rem;
      }
      span {
        opacity: 0;
        width: 0;
        text-transform: uppercase;
        // transform: translateX(-100%);
        transition: all 0.3s linear;
      }
      &:hover {
        // &:before{
        //   opacity: 1;
        // }
        width: 6.5rem;
        border-radius: 2rem;
        color: $blue_dark;
        padding: 0 0.5rem;

        span {
          opacity: 1;
          width: 2rem;
          // color: $black;
          // transform: translateX(0);
          display: inline-block;
          margin-left: 0.5rem;
        }
      }
    }


    .modal-header {
      button {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.5rem;
        border: 1px solid $color_black;
      }
    }
    .modal-body {
      video {
        width: 100%;
      }
    }
  }

  .img_wrapper {
    height: 55vh;
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.5rem 1px $color_black;
    position: relative;
    z-index: -2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.5rem;
    }
  }
}

.comment_item.active {
  flex: 2;
}

//styling of mentorship section

.mentorship {
  overflow: hidden;
  .row {
    overflow: visible;

    [class^="col-"] {
      overflow: visible;
    }
  }

  .col-left-a {
    position: relative;
  }
  .owner_profile{
    figure {
      position: relative;
      aspect-ratio: 6/6;
      border-radius: 1.5rem;
      transition: all 0.3s linear;
      border-radius: 1.5rem;
      position: relative;
      z-index: 2;
  
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        box-shadow: 0.25rem 0.25rem 1px $color_white;
        border-radius: 1.5rem;
        transition: all 0.3s linear;
      }
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.5rem;
        box-shadow: 0.5rem 0.5rem 1px $color_black;
        transition: all 0.3s linear;
      }
  
      &:hover {
        box-shadow: 0 0 0 transparent;
        img {
          box-shadow: 0 0 0 transparent;
        }
      }

      .sect_heading{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        left: 0;
        transform: translateY(6.5rem);
      }
    }
    
  }

  .slider-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    bottom: 2.5rem;
    .image-item {
      transition: all 0.2s linear;
      padding: 0.25rem;
      box-shadow: 0.5rem 0.95rem 1px $black;
      border-radius: 0.5rem;
      img {
        border-radius: 0.5rem;
        box-shadow: 0.25rem 0.25rem 1px $white;
      }

      h2 {
        opacity: 0;
        width: 0;
        transition: all 0.3s linear;
        padding-left: 0.5rem;
      }

      &:hover {
        height: 270px;
        box-shadow: 0.5rem 0.5rem 1px $black;
        border: 1px solid $black;

        h2 {
          opacity: 1;
        }
      }
    }
  }

  .mentorship_description {
    position: relative;
    padding-left: 2rem;
    .sect_heading {
      small {
        text-transform: capitalize;
        font-size: 45%;
        line-height: 1.5;
      }
    }
    h5{
      // display: none;
    }
  }
}



@media (max-width: 1200px) {
  //styling of hero section
  .hero_inner {
    figcaption {
      width: 100%;
    }

    picture {
      display: none;
    }
  }

  .hero {
    text-align: center;

    .hero_inner {
      .sect_heading {
        max-width: 30rem;
        margin: 0 auto;
        margin-bottom: 2rem;

        small {
          margin-top: 1rem;
        }
      }
    }

    .btn_wrapper {
      margin-top: 1.5rem;
      flex-direction: column;
      gap: 1rem;

      .theme_btn {
        width: 100%;
        max-width: 15rem;
        text-align: center;
      }
    }
  }

  .hero_list {
    gap: 1rem;
    justify-content: center;
    flex-wrap: nowrap;

    .hero_list-item {
      flex-direction: column;
      align-items: center;
      width: fit-content;
      padding: 0.75rem 0;
      gap: 1rem;
      // text-align: center;

      small {
        white-space: nowrap;
        font-size: 60%;
      }
    }
  }

  //styling of  info section
  .info_inner {
    article {
      width: 50%;
    }

    aside {
      width: 50%;
      padding: 1rem !important;
    }
  }

  //styling of services section
  .services {
    .tab-content{
      padding-bottom: 0!important;
    }
    .row {
      .col_left {
        .tab_inner {
          flex-direction: row;
          background-color: transparent;
        }
      }

      .col_right{
        .profectionals_sect{
          gap: 1rem;
          .profectionals_card{
            padding: 0;
            flex: 1;
            .btn_wrapper{
              .theme_btn{
                min-width: 8rem;
                text-align: center;
              }
            }
          }
          
        }
      }
    }

    

    .no_section {
      width: fit-content;
      display: flex;
      justify-content: center;
      background-color: transparent;

      &:after {
        right: 50%;
        bottom: 3rem;
        transform: translateX(50%);
        background-color: transparent;
      }

      ul {
        align-items: center;
        background-color: lighten($color: $color_black, $amount: 70%);
        padding: 2rem 1rem;
        padding-bottom: 4rem;
        border-radius: 1rem;
      }
    }
  }

  //styling of mentorship section

  .mentorship {
    padding-bottom: 5rem;

    
    .owner_profile {
      margin-bottom: 19.5rem;
    }
    

    .mentorship_description{
      padding: 0;
      h5{
        display: none;
      }
    }

    .slider-wrap{
      bottom: 1rem!important;
    }

    .owner_profile figure{
      aspect-ratio: 6/4.5!important;
  
    }
  }
}

@media (max-width: 992px) {
  //styling of hero section

  header .header_alert {
    background-color: $color_white;

    h6 {
      margin-right: 1rem;

      .btn_yellow {
        display: none !important;
      }
    }

    .btn_yellow {
      display: block !important;
      margin-right: 0;
      font-weight: bold;
      background-color: transparent !important;
      color: $color_theme;
    }

    .header_close {
      background-color: transparent;
      border: 0;
    }
  }

  .info_sec {
    .info_bg {
    }
  }

  

  .marquee-text {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    animation: marquee 10s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .info_inner {
    article {
      text-align: center;
      padding: 0;
      padding-bottom: 1rem;
      width: 100%;

      .swiper_btn-sect {
        .info_articl-btn {
          right: auto;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    aside {
      width: 100%;
    }
  }

  //styling of services section

  .services {
    .no_section {
      margin-bottom: 2rem;
      padding: 0;
      width: 100%;
      &:after {
        right: 50%;
        bottom: 2rem;
        transform: translate(50%, 50%);
        white-space: nowrap;
        background-color: transparent;
      }

      
      li {
        text-align: center;
      }
    }

    .row {
      .col_left {
        .tab_inner {
          flex-direction: column;
        }
      }
    }

    .profectionals_card{
      .btn_wrapper{
        justify-content: center;
      }
    }
  }

  //styling of comments_sect

  .comments_sect {
    display: none;
  }
  //styling of mentorship section
  .mentorship_col-wrapper{
    flex-direction: column-reverse;
    
  }
  
}

@media (max-width: 786px) {
  .d_lg-n {
    display: none !important;
  }

  //styling of header section
  .alert-warning {
    padding: 1rem !important;
    gap: 1.5rem;
  }

  .alert_btn-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    width: fit-content;
    background-color: $color_white;
    transform: translateY(-50%);
  }

  //styling of info section

  .info_articl-btn {
    right: 50%;
    transform: translateX(-50%);
  }

  //styling of .services section

  .services {
    
    .no_section{
      ul{
        width: 100%;
      }
    }

    .tab-controls{
      position: relative;
      height: 4rem;
      overflow: hidden;
    }
    .nav-tabs {
      width: 100%;
      padding-left: 29rem;

      

      .nav-item {
        button {
          margin-bottom: 0 !important;
          
        }
      }
    }

    .tab-controls {
      .scroll-left,
      .scroll-right {
        display: flex !important;
        top: -.5rem;
      }
    }

    .tab-content {
      margin-top: 2rem;
    }

    .col_right .profectionals_sect .profectionals_card {
      width: 100%;
    }
  }

  //styling of comunity section

  .comunity_sect {
    .comunity_img-sect {
      aspect-ratio: 5 / 4.5;
    }
  }
}

@media (max-width: 576px) {
  .sec_space {
    padding: 3rem 0;
  }

  .d_sm-n {
    display: none;
  }

  //styling of services section

  .services {

    .scrollable-tabs .nav-item:first-child {
      scroll-margin-left: 10px; /* Add margin to ensure the first tab is properly spaced */
    }

    .no_section {
      width: 100% !important;

      P {
        font-size: calc(0.6rem + 0.25vw);

        strong {
          font-size: calc(1rem + 0.25vw) !important;
        }
      }

      ul {
        justify-content: space-between;
        width: 100%;
        gap: 0;
      }

      
    }

    .pod_slider {
      margin: 2rem;
    }
  }

  .star_card {
    &:hover {
      transform: translateY(-0.2rem);
    }
  }

  .star_card-sm {
    padding: 2.5rem 1rem;

    h3 {
      font-size: calc(1.5rem + 0.2vw);
      font-weight: 500;

      strong {
        font-size: 55%;
      }
    }
  }
}
