$yellow: #fc9c03;
$blue_dark: #0220A5;
$blue_light: #025AF6;
$color_theme: #433b89;
$color_primary: #6b71b5;
$color_light-gray: #f8f8f8;
$color_white: #ffffff;
$color_black: #2a2a2a;
$purple: #3d3b90;

$pink: #F97272;
$orange: #EA9448;
$blue: #4B78F0;

.bg_blue{
  background-color: $blue;
}
.bg_orange{
  background-color: $orange;
}
.bg_pink{
  background-color: $pink;
}

$font-one: "Inter", sans-serif;
$transion-io: all 0.4s ease-in-out;
$radious-g: calc(0.25rem + 0.2vw);

// width variables

$container-width: 1800px;
$container-sm: 1240px;

body {
  overflow: hidden;
  overflow-y: auto;
  font-family: $font-one;
}

.container_partial {
  // max-width: calc($container-width + (50% - $container-width / 2));
  max-width: calc(#{$container-sm} + (50% - #{$container-sm / 2}));
  margin-left: auto;
  // padding: 0 1rem;
  // background-color: green;
}

.theme_btn {
  display: inline-block;
  border: none;
  padding: 0.75rem 1.75rem;
  // border-radius: calc($radious-g * 10);
  border-radius: $radious-g;
  font-size: calc(0.9rem + 0.25vw);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: bold;
}

.primary-btn {
  background-color: $color_theme;
  color: $color_white;
  border: 1px solid $color_theme;
}

.btn_br-white {
  border: 1px solid $color_white;
  color: $color_white;
  background-color: transparent;

  &:hover {
    background-color: $color_white;
    color: $color_black;
  }
}

.btn_white-bg {
  background-color: $color_white;
  color: $color_black;
  transition: all 0.2s linear;
  &:hover {
    color: $color_black;
    box-shadow: 0.5rem 0.5rem 1px $color_black;
    background-color: $color_white;
  }
}

.btn_blue-bg {
  background-color: $blue_dark;
  color: $color_white;
  transition: all 0.2s linear;
  &:hover {
    color: $color_black;
    box-shadow: 0.5rem 0.5rem 1px $color_black;
  }
}

.btn_yellow {
  background-color: $yellow;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

//classes for padding

.px-12 {
  padding: 0 12px !important ;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.container {
  max-width: $container-width;
}

.sm {
  max-width: $container-sm;
}

.sec_bg {
  .sect_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }
}

.d_flex-align {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.d_flex-aligned {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.d_flex-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
}

.ps_r {
  position: relative;
}

.sect_heading {
  text-transform: capitalize;
  font-size: calc(1.5rem + 0.5vw);
  font-weight: 500;
  margin-bottom: 2rem;
  small {
    display: block;
    margin-top: 1rem;
    font-size: 55%;
    font-weight: normal;
  }
}

.heading_alert{
  .heading_wrapper{
    display: flex;
    justify-content: flex-start;
    .alert_text{
      margin: 0 0 0 .5rem;
      background-color: $orange;
      padding: .5rem .5rem;
      border-radius: .35rem;
      font-size: 35%;
      height: fit-content;
      font-weight: normal;
      color: $color_white;
    }
  }
}

.heading_main {
  font-size: calc(1.7rem + 0.5vw);
  font-weight: 600;
  margin-bottom: 3rem;
  small {
    margin-top: 3rem;
  }
}

.heading_sm {
  font-size: calc(1rem + 0.5vw);
}

.heading_sm-a {
  font-size: calc(0.8rem + 0.2vw);
  color: $color_theme;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.card_hover {
  transition: all 0.3s linear;
  &:hover{
    transform: translateY(-0.5rem);
  }
  
}

.my_12{
  margin: .75rem 0;
}

.shadow_n-hover{
  &:hover{
    box-shadow: transparent;
  }
}

.star_card {
  text-align: center;
  border: 1px solid $color_black;
  box-shadow: 0.25rem 0.25rem 1px $black;
  margin: 0.75rem 0;
  border-radius: 1.5rem;
  padding: 2rem 1rem;
  color: $white;
  transition: all .3s linear;

  &:hover {
    box-sizing: 0;
    transform: translateY(-0.5rem);
    box-shadow: 0 0 0 transparent;
  }

  img {
    margin-bottom: 1rem;
  }
  h2,
  h3 {
    font-size: calc(2rem + 0.2vw);
    font-weight: 800;
    strong,
    small {
      display: block;
    }
    strong {
      font-size: 80%;
      font-weight: 600;
      text-transform: capitalize;
      margin-top: 0.5rem;
    }
    small {
      font-weight: normal;
      font-size: 48%;
      margin-top: 0.75rem;
    }
  }
}

.star_card-sm {
  padding: 2.5rem 1.5rem;
  h3 {
    font-size: calc(1.5rem + 0.2vw);
    font-weight: 600;
    strong {
      font-size: 70%;
    }
  }
}

.btn_blue-sm{
  display: inline-block;
  text-decoration: none;
  font-size: calc(.8rem + .2vw);
  color: $color_theme;
  text-transform: capitalize;
}

.border_24{
  border-radius: 1.5rem;
}



.footer_list {
  // padding: 1rem .5rem;

  li:first-child {
    margin-bottom: 1rem;
    .footer_item {
      font-weight: 800;
    }
  }

  .footer_item {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
  }
}

.list_bold {
  .footer_item {
    font-weight: 800;
  }
}

.social_media-list {
  width: 100%;
  margin: 1.5rem 0;
  gap: 1rem;
  a {
    text-decoration: none;
    display: inline-block;
    line-height: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $color_white;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.5rem;

    i {
      color: $purple;
    }
  }
}

.copyright_wrapper {
  justify-content: space-between;
  padding: 2.5rem 0;
  border-top: 1px solid $color_black;
  align-items: center;
  width: 100%;

  p {
    color: lighten($color: $color_black, $amount: 45%);
  }
}

.sec_space {
  padding: 3rem 0;
}

.sec_space-lg {
  padding: 6rem 0;
}
.frosten_bg {
  background-color: rgba($color: $blue_dark, $alpha: 0.8);
  backdrop-filter: blur(25px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.br_rad-50 {
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 1px $black;
}

.w_50 {
  width: 50%;
}

.media_list {
  gap: 1rem;
  margin-bottom: 1rem;
  .media_list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.3rem;
    color: $black;
    border: 1px solid $color_black;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s linear;
    &:hover {
      background-color: $color_white;
      border: 0;
      color: $color_black;
    }
  }
}


.pod_slider {
  .sliding-info-cards {
    
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .info-cards {
    
    display: flex;
    align-items: flex-start;
    
    animation: 15s infinite-move infinite linear;

    .info-card {
      padding: 0 1.5rem;

      
    }
  }

  .sliding-info-cards:hover .info-cards {
    animation-play-state: paused;
  }

  @keyframes infinite-move {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}






.bg_blue {
  background-color: lighten($color: $color_theme, $amount: 30%);
}

@media (max-width: 1200px) {

  
  .sm{
    max-width: 960px!important;
  }

  .sec_space-lg{
    padding: 3rem 0;
  }
  
}
@media (max-width: 992px) {
  .sm{
    max-width: 720px!important;
  }

  
  .sect_heading {
    margin-bottom: 2rem;
    small {
      margin-top: 1rem;

    }
  }
  
}

@media (max-width: 786px) {
  .d_md-n {
    display: none !important;
  }
  .sm{
    max-width: 540px!important;
  }
  .pod_card{
    // img{
    //   // scale: .8;
    // }
    .heading_sm{
      font-size: 95%!important;
    }
  }
}

@media (max-width: 578px) {
  .footer_inner aside .footer_list {
    width: 100%;
  }
  
}
