.heading_lable {
  font-size: 65% !important;
  font-weight: normal;
  display: block;
  text-transform: uppercase;
  position: relative;
  padding: 0.5rem 0;
  // background-color: lighten($color: $blue_dark, $amount: 10%);
  background: rgb(2, 90, 246);
  background: linear-gradient(
    0deg,
    rgba(2, 90, 246, 0.03125) 0%,
    rgba(2, 90, 246, 0.7931547619047619) 36%,
    rgba(2, 90, 246, 0.804359243697479) 62%,
    rgba(2, 90, 246, 0) 100%
  );
  width: fit-content;
  margin-bottom: 1.5rem;
  &:before,
  &:after {
    content: "masterclass";
    text-transform: uppercase;
    position: absolute;
    opacity: 0.6;
    left: 0;
    width: 100%;
    color: $white;
    z-index: -1;
  }

  &:before {
    top: -0.25rem;
  }
  &:after {
    bottom: -0.25rem;
  }
}

.masterclass_list {
  margin-bottom: 1.5rem;
  padding: 1.25rem;
  background-color: $white;
  border-radius: 5rem;
  border: 1px solid $black;
  box-shadow: 0.5rem 0.5rem 1px $black;
  color: $black;
  width: fit-content;
  transition: all 0.2s linear;

  &:hover {
    box-shadow: 0 0 0 transparent;
  }

  h4 {
    padding: 0.75rem 1rem;
    font-size: calc(1rem + 0.25vw);
  }
  .masterclass_list-item:first-child {
    border-right: 1px solid lighten($color: $black, $amount: 60%);
  }
}

.btn_list {
  li {
    display: inline-block;
    i {
      margin-right: 1rem;
    }
  }
  li:last-child {
    display: block;
    margin-top: 1rem;
  }
  .theme_btn {
    color: $white;
  }
}

.counter {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  width: fit-content;
  margin-bottom: 1rem;

  .time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;

    .time {
      font-size: 2rem;
      font-weight: bold;
    }

    .label {
      font-size: 0.9rem;
    }
  }

  .separator {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 5px;
  }
}

.hero_image-sect {
  .heading_lable {
    display: none;
  }
}

.hero_img-sect {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    83deg,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 209, 144, 1) 88%
  );

  .mentor_img {
    position: absolute;
    top: 0;
    left: 35%;
    transform: translateX(-100%) !important;
    z-index: 1;
    width: calc(7rem + 1vw);
    height: auto;
  }
  picture {
    position: relative;
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: block;
    aspect-ratio: 5/5;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  figcaption {
    background-color: $white;
    padding: 1rem;
    h3 {
      font-size: calc(1rem + 0.2vw);
      font-weight: normal;
      color: $black;
      text-align: center;
      small {
        display: block;
        color: $blue_dark;
        margin-bottom: 0.5rem;
        text-transform: capitalize;
      }

      img {
        height: 2rem;
      }
    }
  }
}

//styling of course_content

.course_content {
  .col_left {
    padding-right: calc(4rem + 2vw);
    .theme_font {
      font-size: calc(0.65rem + 0.2vw);
    }

    .content_list {
      .theme_font {
        font-size: calc(0.7rem + 0.2vw);
      }
    }
  }

  .content_list {
    p {
      position: relative;
      padding: 0.5rem 1rem 0.5rem 1.5rem;
      &:before {
        content: "\e90a";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-family: "icomoon";
        font-size: 0.75rem;
        color: $yellow;
      }
    }
  }

  .col_right {
    figure {
      padding: 1.5rem;
      border-radius: 1rem;
      aspect-ratio: 5/4.5;
      background-color: lighten($color: $blue_dark, $amount: 60%);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
  }
}
//styling of calender_marking section
.calender_marking {
  .col_left,
  .col_right {
    background-image: url("partials/lines-vertical.png");
    background-color: lighten($color: $orange, $amount: 32%);
    background-blend-mode: multiply;
    border-radius: 1.5rem;
  }

  .col_left {
    padding-top: 2.5rem;
    figure {
      display: flex;
      align-items: flex-end;
      margin-top: auto;
      height: 100%;
      

      figcaption {
        padding: 1rem;

        .sect_heading {
          margin-bottom: 1rem;
        }
      }
    }

    picture {
      position: relative;
      max-width: 25rem;
      display: block;
      aspect-ratio: 1/1;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 2;
      }
      .gradient_circle {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 4rem);
        width: calc(100% + 7vw);
        z-index: 1;
      }
    }

    .fig_text{
      position: absolute;
      bottom: 0;
      z-index: 5;
      width: 100%;
      text-align: center;
      color: $white;

      h2{
        margin-bottom: .5rem;
        padding: .5rem;
        border-radius: 8rem;
        display: flex;
        flex-direction: column;
        gap: .35rem;
        font-size: calc(.7rem + .2vw);
        background-color: rgba($color: $white, $alpha: .2);
        // box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
        
        backdrop-filter: blur(8px);
        span{
          font-size: 90%;
          font-weight: normal;
          img{
            height: 1.75rem;
          }
        }
      }

      p{
        font-size: calc(.4rem + .2vw);
        margin-bottom: 1rem;
      }
    }
  }
  .col_right {
    background-color: lighten($color: $theme_green, $amount: 32%);
    text-align: center;
    padding: 1.5rem;
    figcaption{
      margin-top: 1rem;
      h5{
        font-size: calc(1rem + .2vw);
      }
      img{
        margin-bottom: 1rem;

      }
    }

    picture{
      display: block;
      margin-top: 1.5rem;
      img{
        display: block;
        width: 8rem;
        margin: 0 auto;

      }
    }

    a{
      text-decoration: none;
      font-size: calc(.8rem + .2vw);
    }
  }
}


//styling of masterclass_info section

.masterclass_info{
  background-color: lighten($color: $blue_dark, $amount: 66%);
  
  .masterclass_inner{
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .masterclass_text-cont{

    position: absolute;
    inset: 0;


    .text_cont-inner{
      width: 100%;
      top: 2rem;
      height: 100vh;
      display: flex;
      // justify-content: center;
      align-items: center;
      left: 0;
      position: sticky;
      .sect_heading{
        
        width: 50%;
        font-size: calc(2.8rem + .2vw);
        font-weight: 600;
        padding-right: 3rem;
        small{
          font-size: 34%;
          line-height: 1.5;
          font-weight: normal;
        }
      }
    }
  }


  

  
}

.masterclass_info-list{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: calc(50vh - 13.15rem) 4rem calc(50vh - 13.15rem) 6rem;
  .masterclass_list-item{
    position: sticky;
    top: calc(50% - 8rem);
    background-color: $white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1px $black;
    transition: all .2s linear;

    &:hover{
      box-shadow: 0 0 0 transparent;
    }

    picture{
      display: inline-block;
      width: 50%;
      aspect-ratio: 1/.8;
      border-radius: 1rem;
      overflow: hidden;
      margin-bottom: 1rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h4{
      font-size: calc(.8rem + .2vw);
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }   
}
// styling of upcoming_classes section
.upcoming_classes{
  .headingـsect{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .sect_heading{
      margin-bottom: 0;
    }
    .theme_btn{
      font-size: calc(.6rem + .2vw);
      padding-right: 0;
    }
  }

  .row{
    margin: 1.5rem 0;
  }

}


.masterclass_card{

  border-radius: .75rem;
  border: 2px solid $black;
  padding-bottom: 5rem;
  position: relative;
  figure{
    aspect-ratio: 1/.5;
    background-color: green;
    overflow: hidden;
    border-radius: .75rem;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card_heading{
    margin: 1rem;
    font-size: calc(1.2rem + .2vw);
    text-transform: capitalize;
  }

  .masterclass_card-list{
    li{
      color: lighten($color: $black, $amount: 38%);
      padding: .25rem 1rem;
      font-size: calc(.9rem + .2vw);
      i{

      }
    }
  }

  .card_btn{
    position: absolute;
    border: 2px solid $black;
    border-radius: 1rem;
    width: calc(100% - 2rem);
    left: 1rem;
    bottom: 1rem;
    text-align: center;
    background-color: lighten($color: $blue_dark, $amount: 15%);
    font-size: calc(.9rem + .2vw);
  }

  .registered_part{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: lighten($color: $black, $amount: 45%);
    font-size: calc(1rem + .2vw);
    display: none;
  }
}

.registration_closed{
  .card_btn{
    display: none;
  }
  .registered_part{
    display: block;
  }
}






@media (max-width: 1200px) {
  .masterclass_list {
    width: 100%;
  }

  .hero_image-sect {
    .heading_lable {
      display: block;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      font-size: calc(100% + 1vw) !important;
    }
  }
  .hero_img-sect {
    picture {
      display: block !important;
    }
  }

  //styling of calender_marking section

  .calender_marking{
    .col-xl-3{
      
      padding: 0;
    }
    .col_right{
      margin-top: .5rem;
      picture{
        display: none;
      }
    }
  }
}

@media (max-width: 992px) {
  //styling of hero_section

  .hero_inner {
    text-align: center;
    .counter {
      display: none !important;
    }
  }

  .page_hero {
    flex-direction: column-reverse;
  }

  .sect_heading {
    .heading_lable {
      display: none;
    }
  }

  .hero_img-sect {
    background: transparent !important;
    .mentor_img {
      width: 6rem !important;
    }
    picture {
      display: block !important;
      width: calc(10rem + 3vw);
      height: calc(10rem + 3vw);
      border-radius: 50%;
      background-color: $white;
      overflow: hidden;
      margin-bottom: 1rem;
      margin: 0 auto;

      img {
        object-fit: cover;
      }
    }

    figcaption {
      background-color: transparent;
      h3 {
        color: $white !important;
        small {
          color: $white;
        }
      }
    }
  }

  .masterclass_list {
    flex-direction: column;
    border-radius: 1rem;
    li {
      width: 100%;
      // text-align: center;
    }
    .masterclass_list-item:first-child {
      border-right: 0;
      border-bottom: 1px solid lighten($color: $black, $amount: 60%);
    }
  }

  //styling of

  .btn_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li:last-child {
      margin-top: 0;
    }
  }

  //styling of course_content section

  .course_content {
    .col_left {
      padding-right: 12px;
      .theme_font {
        font-size: calc(0.75rem + 0.3vw) !important;
      }
    }
  }

  //styling of .course_content section

  .calender_marking {
    .col_left {
      margin-bottom: 1rem;
      text-align: center;
      figure{
        // display: flex;
        flex-direction: column;

        .ps_r{
          margin: 0 auto;
        }

        .fig_text{
          h2{
            margin-bottom: 0;
          }
          p{
            display: none;
          }
        }
      }
    }
  }

  //styling of masterclass_info section

  

  .masterclass_info .masterclass_inner{
    flex-wrap: wrap;
    .masterclass_text-cont{
      position: relative;
      width: 100%;
      
      .text_cont-inner{
        height: fit-content;

        .sect_heading{
          max-width: 40rem;
          padding: 1rem;
          margin: 0 auto;
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  .masterclass_info-list{
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    height: fit-content;
    overflow-x: scroll;
    flex-direction: row;
    gap: 1.5rem;

    .masterclass_list-item{
      position: relative;
      min-width: 17rem;

      picture{
        width: 80%;
      }
    }
  }


  //styling of upcoming_classes section

  .upcoming_classes{

    .headingـsect{
      flex-direction: column;
      text-align: center;
    }
    .row{
      [class^="col-"] {
        padding: 12px;
      }
    }
  }
  
}
