$item-heightA: 2rem;

.inner_page-hero {
  .slider_sect-wrapper {
    margin-top: 1.5rem;
    position: relative;
    padding: 1.5rem 0;
    height: 9rem;
    overflow: hidden;
  }
  .slider_sect-heading {
    text-align: center;
    text-transform: capitalize;
    font-size: calc(1rem + 0.2vw);
  }

  .slider_section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;

    .slider-wrap {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0%, -50%);
      width: 100%;
      height: $item-heightA;
      // border: 1px solid blue;
      h2 {
        position: absolute;
        top: 0;
        left: 0;
      }

      .slider-list {
        display: flex;
        min-width: calc(#{$item-width} * #{$itemn-quantity});
        position: relative;
      }

      .image-item {
        width: 8rem;
        height: 3rem;
        position: absolute;
        display: flex;
        align-items: center;
        left: 100%;
        animation: moveItems $animation-duration linear infinite;
        animation-delay: calc(
          (#{$animation-duration} / #{$itemn-quantity}) *
            (var(--item-position) - 1)
        );

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      &:hover .image-item {
        animation-play-state: paused;
        animation-play-state: paused;
      }
    }
  }
}

.hero_desc {
  padding-right: calc(4rem + 2vw);
}

.program_data {
  position: relative;
  margin-top: 2rem;
  span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: fit-content;
    background-color: $yellow;
    padding: 0.5rem 0.75rem;
    border-radius: 2rem;
    font-size: calc(0.6rem + 0.2vw);
    font-weight: normal;
    transform: translateY(calc(-100% - 1rem));
  }
}

.inner_hero-list {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;

  .inner_hero-item {
    width: 33.333333%;
    text-align: center;
    font-size: calc(1rem + 0.2vw);
    padding: 0.5rem 1rem;
    strong {
      display: block;
    }
  }
}

.adviser_btn {
  color: $color_white;
  border: 1px solid $color_white;
  padding: 0.75rem 1rem;
}

.adviser_sect-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    i {
      margin-right: 1rem;
    }
  }
}

.hero_desc-sect {
  border-radius: 1.5rem;
  overflow: hidden;
  picture {
    // border-radius: 2rem;
    overflow: hidden;
    display: block;
    aspect-ratio: 8/2.5;
    object-fit: cover;
    position: relative;
    display: block !important;
    overflow: hidden;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $black, $alpha: 0.3);
      z-index: 1;
    }

    &:after {
      content: attr(data-content);
      position: absolute;
      bottom: 0;
      left: 2rem;
      font-size: calc(0.7rem + 0.2vw);
      padding: 0.5rem;
      background-color: lighten($yellow, 32%);
      color: lighten($black, 30%);
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
      z-index: 2;
      width: 9rem;
      text-align: center;
      border: 1px solid $yellow;
      border-bottom: 0;
      white-space: nowrap;
    }

    img {
      position: absolute;
      bottom: -4rem;
      width: 100%;
      height: auto;
      // object-fit: cover;
      // object-position: bottom;
    }

    .hero_desc-modal {
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 2;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: $white;
      color: $black;
      line-height: 2.5rem;
      text-align: center;
      // text-align: center;
      padding: 0;
      font-size: 1.25rem;
    }

    .modal-header {
      align-items: baseline;
    }
    .modal-title {
      font-size: calc(0.8rem + 0.2vw);
    }
    .btn-close {
      background-color: transparent;
      border: 0;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
    }

    .desc_video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  figcaption {
    background-color: $white;
    padding: 4rem 1rem 1rem 1rem;
    position: relative;
    &:before {
      position: absolute;
      content: attr(data-content);
      padding: 0.5rem;
      top: 0;
      left: 2rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      width: 9rem;
      text-align: center;
      background-color: lighten($color: $yellow, $amount: 39%);
      padding: 0.5rem;
      font-size: calc(0.9rem + 0.2vw);
      color: $black;
      border: 1px solid $yellow;
      border-top: 0;
    }

    .discount_heading {
      position: relative;
      font-size: calc(1.5rem + 0.3vw);
      font-weight: 600;
      color: $black;
      width: fit-content;
      margin-bottom: 1.5rem;

      small {
        font-weight: normal;
        display: block;
        font-size: 60%;
        margin-bottom: 1rem;
      }

      .old_prise {
        position: relative;
        color: lighten($color: $black, $amount: 20%);
        overflow: hidden;
        font-size: 90%;
        &:after {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: red;
          transform: rotate(-20deg);
        }
      }

      .discount {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(calc(100% + 1rem));
        background-color: green;
        color: $white;
        font-size: calc(0.8rem + 0.2vw);
        padding: 0.35rem 0.5rem;
        border-radius: 2rem;
        font-weight: normal;
      }
    }

    .financing_sect {
      text-align: center;
      color: black;
      margin-bottom: 1.5rem;
      .financing_title-wrapper {
        img {
          display: none;
        }
        .financing_title {
          color: $white;
          font-size: calc(0.6rem + 0.2vw);
          width: fit-content;
          padding: 0.5rem;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          background-color: lighten($blue_dark, 60%);
          margin: 0 auto;
          color: $black;
        }
      }
      .financing_list {
        position: relative;
        display: flex;
        align-items: center;
        border: 1px dashed $yellow;
        border-radius: 1rem;
        overflow: hidden;

        .financing_list-item {
          // width: 33.333333%;
          width: fit-content;
          padding: 1rem;
          h5 {
            font-size: calc(1.3rem + 0.3vw);
          }

          &:last-child {
            position: relative;
            margin-left: auto;
            img {
              height: calc(1rem + 0.2vw);
            }
            &:before {
              position: absolute;
              content: "";
              width: 1px;
              height: 80%;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              background-color: lighten($black, 30%);
            }
          }
        }

        .list_heading {
          background-color: lighten($yellow, 42%);
          text-align: right;
          color: $yellow;
          white-space: nowrap;
          font-style: italic;
          h5 {
            font-size: calc(0.8rem + 0.2vw);
          }
        }
      }
    }

    .apply_now-btn {
      width: 100%;
      text-align: center;
      padding: 0.75rem;
      text-transform: capitalize;
      font-size: calc(1rem + 0.2vw);
      font-weight: 500;
      border-radius: 1rem;
      margin-bottom: 1.5rem;
    }

    .desc_para {
      font-size: calc(0.6rem + 0.2vw);
      color: lighten($black, 40%);
      strong {
        text-decoration: underline;
      }
    }
  }
}

.mentor_intro-inner {
  text-align: center;
}

//styling of mentor_intro section
.mentor_intro-inner {
  position: relative;
  padding: 0 2rem;

  .left_img,
  .right_img {
    position: absolute;
    top: 0;
    z-index: 3;
    height: 100%;
  }
  .left_img {
    left: 0;
    transform: rotate(180deg);
  }
  .right_img {
    right: 0;
  }
}
.mentors_list {
  .swiper-slide {
    picture {
      display: block;
      overflow: hidden;
      aspect-ratio: 5/4.5;
      border-radius: 1rem;
      border: 1px solid $black;
      box-shadow: 0.25rem 0.25rem 1px $black;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    figcaption {
      h2 {
        font-size: calc(1.3rem + 0.2vw);
        font-weight: 500;
        padding: 1.5rem 1rem 0.5rem 1rem;
        text-transform: capitalize;
        small {
          font-weight: normal;
          display: block;
          font-size: 80%;
          color: lighten($black, 40%);
          margin: 0.5rem 0 1rem 0;
        }
      }

      .company_img {
        height: calc(1.3rem + 0.3vw);
        margin: 0 auto;
      }
    }
  }
}

.programs_sect {

  font-size: calc(1rem + 2vw);
  .row {
    overflow: hidden;
  }
  .programs_sect-text {
    margin-right: 2.5rem;
  }

  .slider-wrap {
    overflow: hidden;
    position: relative;
    height: 16rem;
    transform: translateX(0%);
    width: fit-content;
    h2 {
      position: absolute;
      top: 0;
      left: 0;
    }
    $width_7rem: 10rem;

    .slider-list {
      display: flex;
      min-width: calc(#{$width_7rem} * #{$itemn-quantity});
      position: relative;
      padding: .5rem;
    }

    .image-item {
      width: $width_7rem;
      height: 15rem;
      padding: .25em;
      border: 2px solid $black;
      border-radius: 1rem;
      overflow: hidden;
      position: absolute;
      left: 100%;
      animation: moveItems $animation-duration linear infinite;
      animation-delay: calc((#{$animation-duration} / #{$itemn-quantity}) * (var(--item-position) - 1));

      figure{
        aspect-ratio: 7/7;
        border-radius: .5rem;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        margin-bottom: .35em;
      }

      h3{
        font-size: .4em;
        font-weight: 400;
        text-align: center;
      }

      
    }

    &:hover .image-item {
      animation-play-state: paused;
      animation-play-state: paused;
    }
  }

  
}

.our_programs{
  font-size: calc(1rem + 2vw);
  background-color: lighten($color: $blue_dark, $amount: 65%);
  
  .heading_sect{
    margin-bottom: 3rem;
  }
  .programs_header-wrap{
    margin-bottom: 4.5rem;
  }
  

  
  .wrap_left,.wrap_right{
    border: 2px solid $black;
    border-radius: 7rem;
    height: 100%;
  }

  .wrap_left{
    padding: .5em;
    padding-left: 1em;
    background-color: #FFF5E6;
    
    flex: 1;
    ul {
      .wrap_item {
        font-size: .45em;
        width: 25%;
        padding-left: 1.3em;
        strong{
          font-weight: 600;
          span{
            font-size: 80%;
            font-weight: normal;
            display: flex;
            gap: .25rem;
            align-items: center;
            color: lighten($black, 50%);
            text-transform: capitalize;
          }
        }
        &:not(:first-child) {
          border-left: 1px solid black;
          padding-left: 10px; 
        }
      }
    }
  }

  .wrap_right{
    background: rgb(255,169,25);
    background: linear-gradient(302deg, rgba(255,169,25,1) 4%, rgba(255,245,230,1) 23%);
    
    position: relative;
    display: flex;
    font-size: .40em;
    line-height: 1.5;
    font-weight: bold;
    padding: 1.2em 2em 1.2em 8em;
    
    .placemwnt_img{
      position: absolute;
      bottom: 0;
      left: 3rem;
      height: 7rem;
    }
    .smile_img{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }
  
}

.accordian_section{
  background-color: lighten($color: $blue_dark, $amount: 65%);
  .accordion-item{
    margin-bottom: 4.5rem;
    position: relative!important;
    border: 2px solid $black;
    box-shadow: .25rem .25rem 1px $black;
    border-radius: 1rem;
    

    .accordian_desc{
      display: block;
      width: 100%;
    }

    &:before{
      content: attr(data-content);
      position: absolute;
      top: 0;
      left: -2px;
      background-color: green;
      transform: translateY(-50%);
      font-size: .35em;
      text-transform: capitalize;
      padding: .3em 1.5em;
      border-radius: 1rem;
      background-color: $black;
      height: 4rem;
      // z-index: -1;
      border: 1rem;
      color: $white;

    }
  }

  .accordion-button{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    border-radius: 1rem!important;
    
    &:after{
      display: none;
    }

    &:focus{
      box-shadow: 0 0 0 transparent;
    }

    position: relative;

    .header_icon{
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      transform: rotate(180deg);
      transition: all .3s linear;
    }

    
    &:not(.collapsed) {
      background-color: $white;
      border-radius: 1rem!important;
    }

    .heading_wrap{
      width: 100%;
      padding-right: 3rem;
      
    }

    .wrapper_heading{
      font-size: 1.2em;
      color: $black;
      img{
        height: 2.5rem;
        margin-left: 1rem;
      }
    }

    .heading_wrap-list{
      gap: 1.5rem;
      .header_item{
        span{
          padding-left: 1.6rem;
          display: inline-block;
          position: relative;
          color: $black;
          font-size: .8em;
          &:before{
            content: attr(data-content);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: lighten($blue_dark, 50%);
            width: 1.3rem;
            height: 1.3rem;
            line-height: 1.3rem;
            font-size: 80%;
            border-radius: 50%;
            color: $white;
            text-align: center;
          }
        }
      }

      .header_item:nth-child(2){
        span{
          &:before{
            
            background-color: $theme_green;
          }
        }
      }
  
      .header_item:nth-child(3){
        span{
          &:before{
            
            background-color: $orange;
          }
        }
      }
  
      .header_item:nth-child(4){
        span{
          &:before{
            
            background-color: $blue_light;
          }
        }
      }
    }

    
  }

  .accordion-button.collapsed{
    .header_icon{
      transform: rotate(0)!important;
    }
  }

  .accordian_content{

    

    .accordian_timeline{
      padding: 1rem;
      border: 1px solid lighten($black, 80%);
      border-radius: 1rem;
      &:before{
        content: attr(data-content);
        position: absolute;
        top: 0;
        left: .5rem;
        transform: translateY(-100%);
        padding: .35rem .95rem;
        background-color: lighten($orange, 12%);
        color: $black;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        font-size: .25em;
      }

      h2{
        font-size: .4em;
        font-weight: 600;
        
      }

      ul{
        font-size: .3em;
        list-style: disc;
        padding-left: 1rem;
        li{
          padding: .5rem 0;
        }
      }
      
    }

    .accordian_pod{
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 1.5rem;
      border: 1px solid lighten($black, 80%);

      h2{
        font-size: .4em;
        font-weight: 600;
        margin-bottom: 1rem;

      }

      .pod_fig{
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
          height: 5rem;
        }

        h3{
          font-size: .4em;
        }
      }

      .accordian_pod-desc{
        font-size: .4em;
      }
    }
  }
}

//styling of career_assistance
.career_assistance{
  font-size: calc(1rem + 2vw);
  background-color: lighten($color: $blue_dark, $amount: 65%);

  .sect_heading{
    text-align: center;
  }

  .mySwiper5{
    margin-bottom: 1rem;
    
  }

  .careed_sect-slider{
    position: relative;

    

    .swiper_paginition-sect{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .row_top{
    justify-content: center;

  }

  .row {
    [class^="col-"] {
      margin-bottom: 24px!important;
    }
  }


  .career_card{
    padding: 1em;
    border-radius: 1rem;
    background-color: lighten($blue_dark, 65%);
    border: 1px solid $black;
    transition: all .2s linear;
    &:hover{
      
      box-shadow: .25rem .25rem 1px $black;
    }
    picture{
      display: block;
      aspect-ratio: 4/2.5;
      margin-bottom: 1.5rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    figcaption{
      text-align: center;
      h2{
        text-transform: capitalize;
        font-size: .35em;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      p{
        font-size: .3em;
        
        // text-align: justify;

      }
    }
  }

  .adviser_btn{
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

  .swiper-pagination-bullet-active{
    background-color: $blue_dark;
    width: .75rem;
    height: .75rem;
    transform: translateY(15%);
  }
}


//styling of software_sect


.software_sect{
  font-size: calc(1rem + 2vw);
  background-color: lighten($color: $blue_dark, $amount: 65%);
  .sect_heading{
    text-align: center;
  }

  .software_card-wrapper{
    padding-bottom: 4rem;
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
  }
  .software_swiper-card{
    border: 2px solid $black;
    border-radius: 1rem;
    transition: all .2s linear;
    padding: .5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 4em;
    }

    &:hover{
      box-shadow: .25rem .25rem 1px $black;
    }

    
  }

  .apply_now{
    display: block;
    margin: 0 auto;
    width: fit-content;
  }

  .swiper-pagination-bullet-active{
    background-color: $blue_dark;
    width: .75rem;
    height: .75rem;
    transform: translateY(15%);
  }

}
@media (max-width: 1400px){

  //styling of programes section
  .accordian_section .accordion-item{
    &:before{
      transform: translateY(-65%);
      font-size: .45em!important;
    }
  }


  

}

@media (max-width: 1200px) {
  .programs_sect {
    .programs_sect-text {
      margin-right: 0;
      text-align: center;
    }
  }


  //styling of our_programs
  .wrap_right{
    display: none!important;
  }

  .heading_wrap-list{
    flex-wrap: wrap;
    .header_item{
      width: 27%;
    }
  }

  .accordian_content{
    .row {
      [class^="col-"]:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  .accordian_pod{
    .row {
      [class^="col-"] {
        margin-bottom: 1rem!important;
      }
    }
  }

  

  
}

@media (max-width: 992px) {
  .hero_desc {
    padding-right: 0;
    text-align: center;
  }

  .inner_hero-item {
    white-space: nowrap;
    i {
      display: block;
      font-size: 1.5rem;
    }
  }

  .adviser_sect-wrapper {
    flex-direction: column;
    gap: 1rem;
    .adviser_btn {
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
  .financing_sect {
    .financing_list-item {
      &:last-child {
        display: none;
      }
    }

    .list_heading {
      text-align: center !important;
      br {
        display: none;
      }
    }
    .financing_title-wrapper {
      display: flex;
      justify-content: space-between;
      background-color: lighten($blue_dark, 60%);
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      z-index: 2;
      padding-right: 0.5rem;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        bottom: -1rem;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        left: 0;
        background-color: lighten($blue_dark, 60%);
      }
      .financing_title {
        text-align: left;
        font-size: calc(0.6rem + 0.2vw);
      }
      img {
        display: block !important;
      }
    }

    .financing_list {
      border-radius: 0.5rem;
      z-index: 2;
    }
  }

  .hero_desc-sect figcaption .financing_sect .financing_list {
    flex-direction: column;
    flex-wrap: wrap;
    .financing_list-item {
      width: 100%;
    }
  }

  .inner_page-hero {
    .hero_desc-sect {
      max-width: 25rem;
      margin: 0 auto;
      margin-top: 2.5rem;
    }
  }

  //styling of programs section
  .our_programs{
    .heading_sect{
      flex-direction: column;
      justify-content: center;
      gap: .5rem;
      text-align: center;
    }

    .wrap_left{
      border-radius: 1rem;
      ul{
        flex-wrap: wrap;
        .wrap_item{
          width: 50%;
          margin: .5rem 0;
          border-left-color: transparent!important;
          padding-left: 1.2em!important;
          font-size: .55em;

        }
      }
    }

    .accordian_section .accordion-item{
      &:before{
        // top: -1rem;
        font-size: .5em!important;
      }
    }
  }

  .heading_wrap{
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  } 

  .wrapper_heading{
    margin-right: auto;
  }
  .heading_wrap-list{
    margin-right: auto;
    .header_item{
      width: fit-content;
    }
  }

  .accordian_pod{
    .accordian_pod-desc{
      font-size: .5em!important;
    }
  }

   //styling of career_assistance

   .career_assistance{

    .mySwiper5{
      padding-bottom: 2em;
      margin-bottom: 1rem;
      .swiper-pagination{
        bottom: 0;
      }
    }
    .career_card{
      figcaption{
        h2,p{
          font-size: .5em;
        }
      }
    }
  }

  
}



@media (max-width: 786px) {
  .mentor_intro-inner {
    picture {
      aspect-ratio: 9/7 !important;
      img {
        object-position: top;
      }
    }

    .left_img,
    .right_img {
      display: none;
    }
  }

  //styling of programs_sect
  .programs_sect {
    .slider-wrap{
      height: 16rem!important;

      .image-item{
        height: 13.5rem!important;
        h3{
          margin-top: 1rem;
          font-size: .55em!important;
          font-weight: 500!important;
        }
      }
    }
  }

  

  //styling of program section

  .our_programs .accordian_section .accordion-item{
    &:before{
      transform: translateY(-55%);
      font-size: .6em!important;
      font-weight: 400;
    }
  }

  //styling of accordian_timeline
  .accordian_timeline{

    ul{
      font-size: .5em!important;     
    }
    
  }

  //styling of career_assistance

  .career_assistance{
    .career_card{
      figcaption{
        h2,p{
          font-size: .6em;
        }
      }
    }
  }
}

@media(max-width: 567px){
  //styling of program section
  
  

  .our_programs .accordian_section .accordion-item{
    &:before{
      // transform: translateY(-55%);
      font-size: .7em!important;
      font-weight: 500;

    }
  }

  .accordian_timeline{

    ul{
      font-size: .6em!important;     
    }
    
  }

  
  //styling of career_assistance

  .career_assistance{
    .career_card{
      figcaption{
        h2,p{
          font-size: .7em;
        }
      }
    }
  }
 
}
